<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web04</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatePlayerServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.CreatePlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePlayerServlet</servlet-name>
    <url-pattern>/createPlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectPlayerServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.SelectPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectPlayerServlet</servlet-name>
    <url-pattern>/selectPlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePlayerServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.DeletePlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlayerServlet</servlet-name>
    <url-pattern>/deletePlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateEnemyServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.CreateEnemyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEnemyServlet</servlet-name>
    <url-pattern>/createEnemy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FightingServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.FightingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FightingServlet</servlet-name>
    <url-pattern>/fighting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveRecordServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.SaveRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveRecordServlet</servlet-name>
    <url-pattern>/saveRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviveServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.ReviveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviveServlet</servlet-name>
    <url-pattern>/revive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UseItemServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.UseItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseItemServlet</servlet-name>
    <url-pattern>/useItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VIPServlet</servlet-name>
    <servlet-class>com.HaimengWu.servlet.VIPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VIPServlet</servlet-name>
    <url-pattern>/VIP</url-pattern>
  </servlet-mapping>
</web-app>